### Exemple d'utilisation de random sample() pour sélectionner plusieurs éléments d'une liste sans répétition

In [1]:
import random

aList = [20, 40, 80, 100, 120]

sampled_list = random.sample(aList, 3)

print(sampled_list)

[120, 100, 20]

### Échantillonnage aléatoire avec remise pour inclure les répétitions

In [2]:
import random
names = ['John', 'Corey', 'Adam', 'Steve', 'Rick', 'Thomas']
# choisir trois échantillons aléatoires avec remplacement pour inclure la répétition
sampled_list2 = random.choices(names, k=3)
print(sampled_list2)

['Thomas', 'Rick', 'Rick']

In [6]:
import random 
# créer une liste de 5 nombres aléatoires 
num_list = random.sample(range(100), 8)
print(num_list)

[3, 42, 88, 53, 31, 75, 24, 39]

In [7]:
random.shuffle(num_list)
print(num_list)

[42, 53, 75, 24, 31, 88, 3, 39]

### Echantillonnage aléatoire d’un ensemble Python

In [8]:
aSet = ["Ahmed", "Ali", "Souad", "Houda", "Nihal"]
#random 3 samples from set
sampled_set = random.sample(aSet, 3)
print(sampled_set)

['Nihal', 'Ahmed', 'Souad']

### Échantillonnage aléatoire d’un dictionnaire Python

In [9]:
marks_dict = {'Ahmed': 15, 'Ali': 10, 'Souad': 12, 'Houda': 18, 'Nihal': 20}
sampled_dict = random.sample(sorted(marks_dict.items()), 3)
print(sampled_dict)

[('Houda', 18), ('Ali', 10), ('Souad', 12)]

In [10]:
# Access key-value from sample
# First key:value

print(sampled_dict[0][0], sampled_dict[0][1])

# Second key:value

print(sampled_dict[1][0], sampled_dict[1][1])

Houda 18
Ali 10

### Graine aléatoire pour obtenir la même liste d'échantillons à chaque fois

In [27]:
# Randomly select same sample list every time
alist = [40, 80, 100, 120, 20.5, 40.5, 30.5, 50.5, 70.5]

for i in range(5):
    # use 4 as seed
    random.seed(4)
    # get sample list of three items
    sample_list = random.sample(alist, 3)
    print(sample_list)

[120, 20.5, 40]
[120, 20.5, 40]
[120, 20.5, 40]
[120, 20.5, 40]
[120, 20.5, 40]

## Application de l'échantillonnage aléatoire à un dataframe

In [31]:
import pandas as pd

In [33]:
df = pd.read_csv('dataset/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [34]:
df.shape

(891, 12)